.menu {
  margin-top: 40px;
  text-align: center;
}

.platos {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.plato {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
}

.plato img {
  width: 100%;
  border-radius: 8px;
}

.plato h3 {
  margin: 10px 0 5px 0;
}

.plato p {
  font-weight: bold;
  color: #fdd835;
}
